<div class="container">

    <div class="h1">NodeJS VICE Stack</div>

    <hr>

    <div class="h5"><a href="/person">Person registries</a></div>
    <p>
        MongoDB + Mongoose CRUD example with a simple person info template.
        <br>
        <a href="javascript:void(0)" id="btn_createTemplatePersonDocuments">Create template registries</a>
    </p>

    <hr>

    <div class="h5">Login as admin</div>
    <p>
        Login to administrate person registries.
        <br>

        {{#if hbsParams.adminAuthenticated}}

        <div class="alert alert-success" role="alert">
            You are authenticated as admin
        </div>
        <button onclick="logout()" class="btn btn-primary">Logout</button>

        {{else}}

        <input type="password" name="adminPassword" id="adminPassword" class="form-control" placeholder="Admin password">
        <span class="badge bg-secondary">Admin password: {{hbsParams.adminPassword}}</span>
        <br>
        <button onclick="login()" class="btn btn-primary">Login</button>
        <div id="passwordIncorrect"></div>

        {{/if}}
    </p>

    <hr>
    <div class="h5"><a href="/about">About</a></div>
    <p>
        Guides, how to use, frameworks, credits, and author notes.
    </p>
</div>

<script src="js/sweetalert2.alerts.js"></script>
<script src="js/admin/admin.js"></script>